.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario h2 {
    font-family: 'Permanent Marker', cursive;
    box-shadow: 3px 3px rgba(0,0,0, #000000);
    color: #ff0100;
}

.formulario form {
    max-width: 80%;
    background-color: #ffff00;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}